/* Основные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

/* Навигационная панель */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;  
}

.logo {
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 120px;
  text-decoration: none;
  color: #000000;
}

.smart {
  color: #12A370;
  display: inline;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-right: 120px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
}

a {
  color: black;
}

.head.click{
  color:#12A370;
}

.profile-btn {
  padding: 8px 15px;
  text-decoration: none;
  border: 1px solid #12A370;
  border-radius: 20px;
  color: #12A370;
}

/* Секция "Блюдо" */
.recipe {
  padding: 50px;
  background-color: white;
}

/*.recipe img {
  width: 100%;
  height: 100%;
}*/


/* Секция "О рецепте" */
.about-recipe {
  padding: 50px;
  background-color: white;
  width: 60%;
}

/* Секция "Рецепты и ингридиенты" */
.ingridients {
  padding: 50px;
  background-color: white;
  width: 70%;
}

.ingridients h2 {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 30px;
}

p {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #12103DCC;
}

li {
  color: #12103DCC;
  margin-left: 30px;
}

.best-recipe {
  margin-top: 120px;
  padding: 50px;
  background-color: white;
}

.best-recipe h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.best-recipe-card {
  display: flex;
  justify-content: start;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.08);
  padding-bottom: 30px;
  text-align: center;
}

.best-recipe-card img {
  border-radius: 25px;
  padding: 30px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  text-align: left;
  color:#333333;
  gap: 10px;
}

.recipe-info h3 {
  font-size: 2em;
  color: #333333;
}

.recipe-info p {
  font-size: 1em;
  color: #333333;
  opacity: 0.8;
}

.additional-images img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 180px;
  margin-right: 100px;
  margin-left: 0;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-small {
  display: inline;
  width: 300px;
  padding: 8px 15px;
  background-color: #12A370;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

/* Подвал */
footer {
  background-color: #12A370;
  padding: 40px;
  color: white;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-logo h3 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
}

.footer-links a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer-social img {
  width: 40px;
  margin-right: 10px;
}

.footer-social p {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 500;
}

footer p {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
