/* Основные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

/* 
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-right: 0px;
  background-color: white;
}

.hero-content {
  max-width: 600px;
  padding-left: 100px;
}

.hero-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 20px;
}

.hero-buttons .btn, .hero-buttons .btn-outline {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 15px;
}

.btn {
  text-decoration: none;
  background-color: #12A370;
  color: white;
}

.btn-outline {
  text-decoration: none;
  background-color: #12A37020;
  color: #12A370;
} 

.top {
  display: flex;
  justify-content: space-between;
}
Секция "Hero" */